smart-llm-loader
fastapi
uvicorn
python-dotenv
chromadb==0.5.23
llama-index
pymupdf
requests
openai
llama-index-vector-stores-chroma
llama-index-llms-groq
llama-index-llms-openai
llama-index-embeddings-huggingface
llama-index-embeddings-openai
llama-index-embeddings-ollama